.login-wrap {
    text-align: center;
    background-repeat: no-repeat;
    background-image: url('../Image/login_bg.jpg');
    width: 100%;
    height: 800px;
    position: absolute;
    top:50%; 
    margin-top:-400px;
  }
  #loginCard {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    height: 250px;
    width: 300px;
    text-align: center;
  }
  #captcha {
    text-align:center;
    width: 300px;
    display: inline-block;
  }
  .logininput {
    margin: 3px;
  }
  .login_button {
   margin: 5px;
   width: 100%;
  }
  .code {
  margin:  auto;
  width: 114px;
  height: 40px;
  border: 1px solid red;
  }
  .logEditCol 
  {
    text-align:center;
  }